<h1><%= @article.title %></h1>

Stats:

<h2>Page Views</h2>
<%= line_chart @article.article_stats.group_by_hour(:recorded_at).maximum(:page_views_count) %>

<h2>Comment Count</h2>
<%= line_chart @article.article_stats.group_by_hour(:recorded_at).maximum(:comments_count) %>

<h2>Reactions Count</h2>
<%=
  line_chart [
    { name: 'Positive Reactions Count', data: @article.article_stats.group_by_hour(:recorded_at).maximum(:positive_reactions_count) },
    { name: 'Public Reactions Count', data: @article.article_stats.group_by_hour(:recorded_at).maximum(:public_reactions_count) },
  ]
%>
