<%= render 'graph_title', title: @article.title %>

<% if @article.cover_image %>
  <%= image_tag @article.cover_image %>
<% end %>
<div id="spacer" class="flex-grow"></div>
<%= line_chart(
  @article.article_stats.group_by_hour(:recorded_at).maximum(:page_views_count),
  xtitle: time_ago_in_words(@article.article_stats.order(recorded_at: :asc).limit(1).pluck(:recorded_at).first),
  ytitle: 'Views',
) %>
<div id="spacer" class="flex-grow"></div>

<%= render 'graph_nav_footer', active: :views, article: @article %>
