<div class="flex-1 <%= 'text-purple-600' if local_assigns[:active] %>">
  <%= link_to local_assigns[:link_to], class: 'flex flex-col items-center text-center' do %>
    <%= render local_assigns[:icon], icon_class: 'h-5 w-5' %>
    <%= local_assigns[:sub_text] %>
  <% end %>
</div>
