<div class="py-2" data-controller="expandable-content" data-expandable-content-expanded-value="false">
  <h1 class="inline-block p-4 font-serif text-xl bg-blue-200 rounded-full cursor-pointer" data-action="click->expandable-content#toggle">
    <%= locals[:title] %>
    <span class="inline-block transform" data-expandable-content-target="icon">
      >
    </span>
  </h1>
  <ul data-expandable-content-target="list">
    <%= yield %>
    <% @articles_this_month.each do |article| %>
    <% end %>
  </ul>
</div>
