<div class="flex flex-row items-center mb-5">
  <%= link_to root_path, class: 'mr-2' do %>
    <%= render 'icons/home', icon_class: 'h-7 w-7 text-blurple-lighter' %>
  <% end %>
  <%= link_to root_path do %>
    <h1 class="text-base font-bold">DEV.stat</h1>
  <% end %>
  <div class="flex-grow"></div>
  <%= image_tag current_user.profile_image_90_url, class: 'h-9 w-9 rounded-full bg-blurple-lighter' %>
</div>
