<%= render 'graph_title', title: presenter.article.title %>

<% if presenter.article.cover_image %>
  <%= image_tag presenter.article.cover_image %>
<% end %>

<div id="spacer" class="flex-grow"></div>

<%= yield %>

<div id="spacer" class="flex-grow"></div>

<%= render 'graph_nav_footer', local_assigns %>
